/* Cross Browser Compatability CSS */
/**
 * html5doctor.com Reset Stylesheet (Eric Meyer's Reset Reloaded + HTML5 baseline)
 * v1.6.1 2010-09-17 | Authors: Eric Meyer & Richard Clark
 * html5doctor.com/html-5-reset-stylesheet/
 */

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

blockquote, q { quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after { content: ""; content: none; }

ins { background-color: #ff9; color: #000; text-decoration: none; }

mark { background-color: #ff9; color: #000; font-style: italic; font-weight: bold; }

del { text-decoration: line-through; }

abbr[title], dfn[title] { border-bottom: 1px dotted; cursor: help; }

table { border-collapse: collapse; border-spacing: 0; }

hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }

input, select { vertical-align: middle; }


/* ----- HELLO, WORLD! READY...OR NOT CSS STYLES ----- */
body {
	background: #fafafa;
}

p, ol, ul {
  font-size: 1em; /* default for site; equiv to 16 px */
  line-height: 1.75em; /* default line spacing */
	font-family: 'Open Sans', sans-serif;
  color: black;
  margin-top: 0px;
  margin-bottom: 32px;
}

h1 {
  font-size: 4.5em; /* golden ratio, 1:1.618 */
	font-family: 'Mr De Haviland', cursive;
  color: blue;
	text-align:center;
}

h3 {
  font-size: 2.618em;
  font-family: 'Neuton', serif;
  /*font-family: 'Open Sans', sans-serif;*/
  color: blue;
  margin: 50px 50px 0px;
  padding: 10px;
  text-align: center;
}

h4{
  font-size: 1.618em;
  font-family: 'Neuton', serif;
  /*font-family: 'Open Sans', sans-serif;*/
  color: blue;
  padding: 1px;
  margin-bottom: 50px;
  text-align: center;
  font-style: italic;
}

footer {
  font-size: 0.62em;
  font-family: 'Mr De Haviland', cursive;
  text-align: center;
  color: blue;
  background: white;
}

ul {
  list-style: square inside
  padding: 10px;
  margin: 20px;
}

ol {
  list-style: decimal inside
  padding: 10px;
  margin: 20px;
}

section {
  padding: 5px 30px;
  margin: 5px 100px;
}

#inset-text {
  padding: 5px 40px;
  margin: 10px 100px;
}

#inset-text p {
  font-style: italic;
}

section li {
  font-size: 1em; /* default for site; equiv to 16 px */
  line-height: 1.75em; /* default line spacing */
  font-family: 'Open Sans', sans-serif;
  font-style: italic;
  color: blue;
  text-shadow: 2px 2px 2px #ddd;
}

li+p {
  margin: 10px;
  padding: 10px;
}

#logo{
  background: white;
}

nav {
  background: #EDEDED;
  padding: 10px;
}

a:link {
  color: blue;
  text-decoration: none;
} 

a:visited{
  color: black;
}

a:hover{
  color: orange;
}

.fa-heart{
  color: red;
}

.fa-smile-o{
  color: blue;
  text-shadow: 2px 2px 2px #ddd;
}

#special-emphasis{
  color: blue;
  font-style: italic;
}

em{
  font-style: italic;
}
